<div class='contact'>
  <h2>Contacto</h2> 
  
  <%= form_for @email do |f| %>
  
    <label for="name">Nombre</label>
    <%= f.text_field :name %>
    
    <label for="email">Email</label>
    <%= f.text_field :email %>

    <label for="subject">Asunto</label>
    <%= f.text_field :subject %>

    <label for="text">Texto</label>
    <%= f.text_area :text %>

    <%= f.submit 'Enviar' %>
  <% end %>
</div>
