<div class='container'>
  <%= render partial: 'head' %>

  <%= render partial: 'marketing' %>

  <%= render partial: 'products' %>

  <%= render partial: 'about' %>

  <%= render partial: 'contact' %>

  <%= render partial: 'footer' %>
</div>
